
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link href="css/logincss.css" rel="stylesheet">
    <!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
    
    
    <link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

 </head>
<body background="loginbackgroundlight.jpg">
<!-- Navbar starts here -->
  <header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">Home</a>
      </div>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
            <% for(i=0;i<nav.length;i++){%>
          <li>
            <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
          </li>
          <%}%>
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
              <form class="form-inline">
                <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
              </form>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><%=title%>
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
                
        
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- <div class="top-spacer"> </div> -->
        </div>
      </div> 
    </div>    <!--/cont-->
    
  </div>
  
  
  <div class="container ">
    <div class="row ">
      
      <div class="col-md-12 "> 
        
        <div class="panel imgdivsignup">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <!-- Form starts here -->

            <div class=" text-info formlog frrr">
              <form action="#" onsubmit= "return fvali()">
                <div class="form-group">
                  <label for="inputEmail4">First Name</label>
                  <input type="text" class="form-control" id="firstname" placeholder="Enter first name here" onkeyup="return fnamevali()">
                  <div id="f1">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputEmail4">Last Name</label>
                  <input type="text" class="form-control" id="lastname" placeholder="Enter last name here " onkeyup="return lnamevali()">
                  <div id="l1">
                  </div>
                </div>
                    <div class="form-group">
                      <label for="inputEmail4">Email</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                      <label for="phonemmmm">Phone No</label>
                      <input type="text" class="form-control" id="phone" placeholder="Phone Number" onkeyup="return phonenumber()">
                      <div id="ph">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword4">Password</label>
                      <input type="password" class="form-control" id="inputPassword4" placeholder="Password" onkeyup="return passvali()">
                      <div id="err">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword4">Re-Type Password</label>
                      <input type="password" class="form-control" id="inputPassword5" placeholder="Re-enter password" onkeyup="return passcheck()">
                      <div id="err2">
          
                      </div>
          
                      <div id="tstbx">
          
                      </div>
                    </div>
                    <br>
                  
                  
                  <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
  <!-- form ends here -->
            <!-- <hr> -->
            <!--/stories-->
            
            
            <!-- <a href="/" class="btn btn-primary pull-right btnNext">More <i class="glyphicon glyphicon-chevron-right"></i></a> -->
          
            
          </div>
        </div>
                                                                                         
                                                    
                                                        
       </div><!--/col-12-->
    </div>
  </div>
  </div>
                                                  
                                                                                  
  <hr>
  
  <div class="container" id="footer">
    <div class="row">
      <div class="col col-sm-12">
        
        <h1>Follow Us</h1>
        <div class="btn-group">
         <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
       <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
       <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr>
  
  <hr>
  
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><i class="icon-facebook icon-2x"></i></li>
            <li><i class="icon-twitter icon-2x"></i></li>
            <li><i class="icon-google-plus icon-2x"></i></li>
            <li><i class="icon-pinterest icon-2x"></i></li>
          </ul>
          
        </div>
        <div class="col-sm-6">
            <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
        </div>
      </div>
    </div>
  </footer>          

<!-- footer ends here -->
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/signupform.js"></script>
</body>
</html>